if theme.instantpage
  script.
    function loadInstantpageJS() {
      const script = document.createElement('script');
      script.src = '#{theme.instant_page.local.js}';
      document.body.appendChild(script);
    }
  if theme.instant_page.cdn.enable && theme.instant_page.cdn.js.src
    if theme.instant_page.cdn.js.integrity
      script(src=url_for(theme.instant_page.cdn.js.src) integrity=theme.instant_page.cdn.js.integrity crossorigin='anonymous' referrerpolicy='no-referrer' onerror='loadInstantpageJS()')
    else
      script(src=url_for(theme.instant_page.cdn.js.src) crossorigin='anonymous' referrerpolicy='no-referrer' onerror='loadInstantpageJS()')
  else
    script(src=url_for(theme.instant_page.local.js))

if (page.gallery && is_page())
  script.
    let galleryItemIndex = 1;
    function showGalleryWrapper(n) {
      let galleryShowcase = document.getElementsByClassName("page-gallery-showcase");
      let dots = document.getElementsByClassName("page-gallery-wrapper");
      if (n > galleryShowcase.length) { galleryItemIndex = 1 }
      if (n < 1) { galleryItemIndex = galleryShowcase.length }
      for (i = 0; i < galleryShowcase.length; i++) {
        galleryShowcase[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      galleryShowcase[galleryItemIndex - 1].style.display = "block";
      dots[galleryItemIndex - 1].className += " active";
    }
    function pageGalleryWrapper(n) {
      showGalleryWrapper(galleryItemIndex = n);
    }
    showGalleryWrapper(galleryItemIndex);

if page.maps
  if page.maps.picture === true && page.maps.google
    script.
      function loadMapsIframe() {
        var placeholder = document.querySelector('.maps-placeholder');
        var iframe = document.createElement('iframe');
        iframe.src = '#{page.maps.google}';
        iframe.width = '100%';
        iframe.height = '600';
        iframe.style.border = 'none';
        iframe.allowfullscreen = true;
        iframe.loading = 'lazy';
        iframe.referrerpolicy = 'no-referrer-when-downgrade';
        placeholder.innerHTML = ''; // 清空占位符元素
        placeholder.appendChild(iframe); // 添加 iframe 元素
      }

if (is_post() && (page.gallery || page.sku))
  script.
    let galleryItemIndex = 1;
    function showGalleryWrapper(n) {
      let galleryShowcase = document.getElementsByClassName("post_item-gallery-showcase");
      let dots = document.getElementsByClassName("post_item-gallery-wrapper");
      if (n > galleryShowcase.length) { galleryItemIndex = 1 }
      if (n < 1) { galleryItemIndex = galleryShowcase.length }
      for (i = 0; i < galleryShowcase.length; i++) {
        galleryShowcase[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      galleryShowcase[galleryItemIndex - 1].style.display = "block";
      dots[galleryItemIndex - 1].className += " active";
    }
    function pageGalleryWrapper(n) {
      showGalleryWrapper(galleryItemIndex = n);
    }
    showGalleryWrapper(galleryItemIndex);
