if theme.slide.enable
  #home-swiper.home-swiper
    .swiper-wrapper
      each item in theme.slide.wrapper
        .swiper-slide
          picture
            //- 奇怪，怎么从大到小写会无法显示？
            if item.mobile_img.avif_link
              source(media='(max-width: 768px)' srcset=url_for(item.mobile_img.avif_link) type='image/avif')
            if item.mobile_img.webp_link
              source(media='(max-width: 768px)' srcset=url_for(item.mobile_img.webp_link) type='image/webp')
            if item.mobile_img.link
              source(media='(max-width: 768px)' srcset=url_for(item.mobile_img.link))

            if item.tablet_img.avif_link
              source(media='(max-width: 1024px)' srcset=url_for(item.tablet_img.avif_link) type='image/avif')
            if item.tablet_img.webp_link
              source(media='(max-width: 1024px)' srcset=url_for(item.tablet_img.webp_link) type='image/webp')
            if item.tablet_img.link
              source(media='(max-width: 1024px)' srcset=url_for(item.tablet_img.link))

            if item.desktop_img.avif_link
              source(media='(min-width: 1025px)' srcset=url_for(item.desktop_img.avif_link) type='image/avif')
            if item.desktop_img.webp_link
              source(media='(min-width: 1025px)' srcset=url_for(item.desktop_img.webp_link) type='image/webp')
            if item.desktop_img.img_link
              source(media='(min-width: 1025px)' srcset=url_for(item.desktop_img.link))

            img.swiper-img(src=url_for(item.desktop_img.link) alt=item.introduce.title)
