- var pageTitle
- if (is_archive()) pageTitle = _p('page.archives')
- else if (is_tag()) pageTitle = _p('page.tag') + ': ' + page.tag
- else if (is_category()) pageTitle = _p('page.category') + ': ' + page.category
- else if (is_current('/404', [strict]) || is_current('/404.html', [strict])) pageTitle = _p('error404')
- else pageTitle = page.title || config.title || ''

- var isSubtitle = config.subtitle ? config.subtitle : ''
- var tabTitle = is_home() || !pageTitle ? config.title + ' - ' + isSubtitle : pageTitle + ' | ' + config.title
- var pageCopyright = config.copyright || config.author
- var pageKeywords = is_home() ? config.keywords : page.keywords
- var pageDescription = page.description || config.description

meta(charset='UTF-8')
meta(http-equiv='content-language' content=config.language)
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width, initial-scale=1.0, viewport-fit=cover')
title= tabTitle
meta(name='author' content=config.author)
meta(name='copyright' content=pageCopyright)
meta(name='description' content=pageDescription)
if pageKeywords
  meta(name='keywords' content=pageKeywords)
meta(name ='format-detection' content='telephone=no')

!=favicon_tag(theme.site.favicon || config.favicon)

//- 预解析
if theme.preconnect
  each url in theme.preconnect
    link(rel="dns-prefetch" href=url)
    link(rel="preconnect" href=url)

link(rel='stylesheet' href=url_for('/css/style.css'))

if theme.slide.enable && homePage
  script.
    function loadSwiperCSS() {
      const link = document.createElement('link');
      link.rel = 'stylesheet';
      link.href = '#{theme.swiper.local.css}';
      document.head.appendChild(link)
    }
  if theme.swiper.cdn.enable && theme.swiper.cdn.css.href
    if theme.swiper.cdn.css.integrity
      link(rel='stylesheet' href=url_for(theme.swiper.cdn.css.href) integrity=theme.swiper.cdn.css.integrity crossorigin='anonymous' referrerpolicy='no-referrer' onerror='loadSwiperCSS()')
    else
      link(rel='stylesheet' href=url_for(theme.swiper.cdn.css.href) crossorigin='anonymous' referrerpolicy='no-referrer' onerror='loadSwiperCSS()')
  else
    link(rel='stylesheet' href=url_for(theme.swiper.local.css))

//- 插入头部代码
if theme.inject.head
  each item in theme.inject.head
    !=item
