-
  let cardsTopLeftBG = theme.section.library.cards.top.left.background_color
    ? 'background: ' + theme.section.library.cards.top.left.background_color
    : ''
  let cardsTopRightBG = theme.section.library.cards.top.right.background_color
    ? 'background: ' + theme.section.library.cards.top.right.background_color
    : ''
-

if theme.section.library.cards.top.enable || theme.section.library.cards.center.enable || theme.section.library.cards.bottom.enable
  section.cards-banner
    .container
      if theme.section.library.cards.top.enable
        .cards-top
          //- 左
          .cards-box(style=cardsTopLeftBG)
            if theme.section.library.cards.top.left.text.enable
              - let cardsTopLeftFontColor = theme.section.library.cards.top.left.text.white_font ? 'white' : 'black'
              .cards-top-text
                h3.cards-title(class=cardsTopLeftFontColor)=theme.section.library.cards.top.left.text.title
                p.cards-description(class=cardsTopLeftFontColor)=theme.section.library.cards.top.left.text.description
            .cards-img-box
              picture
                if theme.section.library.cards.top.left.img.avif_link !== ''
                  source(srcset=url_for(theme.section.library.cards.top.left.img.avif_link) type='image/avif')
                if theme.section.library.cards.top.left.img.webp_link !== ''
                  source(srcset=url_for(theme.section.library.cards.top.left.img.webp_link) type='image/webp')
                img.cards-img(src=url_for(theme.section.library.cards.top.left.img.link) alt=theme.section.library.cards.top.left.img.alt)
          //- 右
          .cards-box.cards-box-right(style=cardsTopRightBG)
            .cards-img-box.cards-img-height
              picture
                if theme.section.library.cards.top.right.img.avif_link !== ''
                  source(srcset=url_for(theme.section.library.cards.top.right.img.avif_link) type='image/avif')
                if theme.section.library.cards.top.right.img.webp_link !== ''
                  source(srcset=url_for(theme.section.library.cards.top.right.img.webp_link) type='image/webp')
                img.cards-img-max-width(src=url_for(theme.section.library.cards.top.right.img.link) alt=theme.section.library.cards.top.right.img.alt)
            if theme.section.library.cards.top.right.text.enable
              - let cardsTopRightFontColor = theme.section.library.cards.top.right.text.white_font ? 'white' : 'black'
              .cards-top-text
                h3.cards-title(class=cardsTopRightFontColor)=theme.section.library.cards.top.right.text.title
                p.cards-description(class=cardsTopRightFontColor)=theme.section.library.cards.top.right.text.description
      if theme.section.library.cards.center.enable
      if theme.section.library.cards.bottom.enable
