if theme.section.library.content_cards.top.enable || theme.section.library.content_cards.center.enable || theme.section.library.content_cards.bottom.enable
  section.cards-banner
    .container
      if theme.section.library.content_cards.top.enable
        -
          let cardsTopLeftBG = theme.section.library.content_cards.top.left.background_color
            ? 'background: ' + theme.section.library.content_cards.top.left.background_color
            : ''
          let cardsTopRightBG = theme.section.library.content_cards.top.right.background_color
            ? 'background: ' + theme.section.library.content_cards.top.right.background_color
            : ''
        -
        .cards-top
          //- 左
          .cards-box(style=cardsTopLeftBG)
            if theme.section.library.content_cards.top.left.text.enable
              - let cardsTopLeftFontColor = theme.section.library.content_cards.top.left.text.white_font ? 'white' : 'black'
              .cards-top-text
                h3.cards-title(class=cardsTopLeftFontColor)=theme.section.library.content_cards.top.left.text.title
                p.cards-description(class=cardsTopLeftFontColor)=theme.section.library.content_cards.top.left.text.description
            .cards-img-box
              picture
                if theme.section.library.content_cards.top.left.img.avif_link
                  source(srcset=url_for(theme.section.library.content_cards.top.left.img.avif_link) type='image/avif')
                if theme.section.library.content_cards.top.left.img.webp_link
                  source(srcset=url_for(theme.section.library.content_cards.top.left.img.webp_link) type='image/webp')
                img.cards-img(src=url_for(theme.section.library.content_cards.top.left.img.link) alt=theme.section.library.content_cards.top.left.img.alt)
          //- 右
          .cards-box.cards-box-center(style=cardsTopRightBG)
            -
              let cardsTopRightImgHeight =''
              let cardsTopRightImg ='cards-img-box-width'
              if (theme.section.library.content_cards.top.right.text.enable) cardsTopRightImgHeight = 'cards-top-right-img-height'
              if (theme.section.library.content_cards.top.right.text.enable) cardsTopRightImg = 'cards-img-max-width'
            -
            .cards-img-box(class=cardsTopRightImgHeight)
              picture
                if theme.section.library.content_cards.top.right.img.avif_link
                  source(srcset=url_for(theme.section.library.content_cards.top.right.img.avif_link) type='image/avif')
                if theme.section.library.content_cards.top.right.img.webp_link
                  source(srcset=url_for(theme.section.library.content_cards.top.right.img.webp_link) type='image/webp')
                img(class=cardsTopRightImg src=url_for(theme.section.library.content_cards.top.right.img.link) alt=theme.section.library.content_cards.top.right.img.alt)
            if theme.section.library.content_cards.top.right.text.enable
              - let cardsTopRightFontColor = theme.section.library.content_cards.top.right.text.white_font ? 'white' : 'black'
              .cards-top-text
                h3.cards-title(class=cardsTopRightFontColor)=theme.section.library.content_cards.top.right.text.title
                p.cards-description(class=cardsTopRightFontColor)=theme.section.library.content_cards.top.right.text.description

      if theme.section.library.content_cards.center.enable
        -
          let cardsCenterBG = theme.section.library.content_cards.center.background_color
            ? 'background: ' + theme.section.library.content_cards.center.background_color
            : ''
        -
        .cards-center
          .cards-box.cards-center-box(style=cardsCenterBG)
            //- 图片
            .cards-img-box
              picture
                if theme.section.library.content_cards.center.img.mobile_img.avif_link
                  source(media='(max-width: 500px)' srcset=url_for(theme.section.library.content_cards.center.img.mobile_img.avif_link) type='image/avif')
                if theme.section.library.content_cards.center.img.mobile_img.webp_link
                  source(media='(max-width: 500px)' srcset=url_for(theme.section.library.content_cards.center.img.mobile_img.webp_link) type='image/webp')
                if theme.section.library.content_cards.center.img.mobile_img.link
                  source(media='(max-width: 500px)' srcset=url_for(theme.section.library.content_cards.center.img.mobile_img.link))

                if theme.section.library.content_cards.center.img.desktop_img.avif_link
                  source(media='(min-width: 501px)' srcset=url_for(theme.section.library.content_cards.center.img.desktop_img.avif_link) type='image/avif')
                if theme.section.library.content_cards.center.img.desktop_img.webp_link
                  source(media='(min-width: 501px)' srcset=url_for(theme.section.library.content_cards.center.img.desktop_img.webp_link) type='image/webp')
                if theme.section.library.content_cards.center.img.desktop_img.img_link
                  source(media='(min-width: 501px)' srcset=url_for(theme.section.library.content_cards.center.img.desktop_img.link))

                img.cards-img(src=url_for(theme.section.library.content_cards.center.img.desktop_img.link) alt=theme.section.library.content_cards.center.img.alt)
            //- 文字
            if theme.section.library.content_cards.center.text.enable
              - let cardsCenterFontColor = theme.section.library.content_cards.center.text.white_font ? 'white' : 'black'
              .cards-center-text
                h3.cards-title(class=cardsCenterFontColor)=theme.section.library.content_cards.top.right.text.title
                p.cards-description(class=cardsCenterFontColor)=theme.section.library.content_cards.top.right.text.description

      if theme.section.library.content_cards.bottom.enable
        -
          let cardsBottomLeftBG = theme.section.library.content_cards.bottom.left.background_color
            ? 'background: ' + theme.section.library.content_cards.bottom.left.background_color
            : ''
          let cardsBottomRightBG = theme.section.library.content_cards.bottom.right.background_color
            ? 'background: ' + theme.section.library.content_cards.bottom.right.background_color
            : ''
        -
        .cards-bottom
          //- 左
          .cards-box.cards-box-center(style=cardsBottomLeftBG)
            -
              let cardsBottomLeftImgHeight =''
              let cardsBottomLeftImg ='cards-img'
              if (theme.section.library.content_cards.bottom.left.text.enable) cardsBottomLeftImgHeight = 'cards-bottom-img-height'
              if (theme.section.library.content_cards.bottom.left.text.enable) cardsBottomLeftImg = 'cards-img-max-height'
            -
            .cards-img-box(class=cardsBottomLeftImgHeight)
              picture
                if theme.section.library.content_cards.bottom.left.img.avif_link
                  source(srcset=url_for(theme.section.library.content_cards.bottom.left.img.avif_link) type='image/avif')
                if theme.section.library.content_cards.bottom.left.img.webp_link
                  source(srcset=url_for(theme.section.library.content_cards.bottom.left.img.webp_link) type='image/webp')
                img(class=cardsBottomLeftImg src=url_for(theme.section.library.content_cards.bottom.left.img.link) alt=theme.section.library.content_cards.bottom.left.img.alt)
            if theme.section.library.content_cards.bottom.left.text.enable
              - let cardsBottomLeftFontColor = theme.section.library.content_cards.bottom.left.text.white_font ? 'white' : 'black'
              .cards-top-text
                h3.cards-title(class=cardsBottomLeftFontColor)=theme.section.library.content_cards.bottom.left.text.title
                p.cards-description(class=cardsBottomLeftFontColor)=theme.section.library.content_cards.bottom.left.text.description
          //- 右
          .cards-box.cards-box-center(style=cardsBottomRightBG)
            -
              let cardsBottomRightImgHeight =''
              let cardsBottomRightImg ='cards-img'
              if (theme.section.library.content_cards.bottom.right.text.enable) cardsBottomRightImgHeight = 'cards-bottom-img-height'
              if (theme.section.library.content_cards.bottom.right.text.enable) cardsBottomRightImg = 'cards-img-max-height'
            -
            .cards-img-box(class=cardsBottomRightImgHeight)
              picture
                if theme.section.library.content_cards.bottom.right.img.avif_link
                  source(srcset=url_for(theme.section.library.content_cards.bottom.right.img.avif_link) type='image/avif')
                if theme.section.library.content_cards.bottom.right.img.webp_link
                  source(srcset=url_for(theme.section.library.content_cards.bottom.right.img.webp_link) type='image/webp')
                img(class=cardsBottomRightImg src=url_for(theme.section.library.content_cards.bottom.right.img.link) alt=theme.section.library.content_cards.bottom.right.img.alt)
            if theme.section.library.content_cards.bottom.right.text.enable
              - let cardsBottomLeftFontColor = theme.section.library.content_cards.bottom.right.text.white_font ? 'white' : 'black'
              .cards-top-text
                h3.cards-title(class=cardsBottomLeftFontColor)=theme.section.library.content_cards.bottom.right.text.title
                p.cards-description(class=cardsBottomLeftFontColor)=theme.section.library.content_cards.bottom.right.text.description
